<mat-form-field class="full-width" [appearance]="appearance">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <mat-select
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [multiple]="multiple"
    [value]="value"
    (selectionChange)="onSelectionChange($event)"
    (blur)="onTouched()"
  >
    <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <app-error-message
    [control]="ngControl?.control || null"
    [fieldName]="'select'"
  ></app-error-message>
</mat-form-field>
