<mat-form-field class="full-width" [appearance]="appearance">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <input
    matInput
    [matDatepicker]="picker"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [min]="minDate"
    [max]="maxDate"
    [value]="value"
    (dateChange)="onDateChange($event)"
    (blur)="onTouched()"
  />

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <app-error-message [control]="ngControl?.control ?? null"></app-error-message>
</mat-form-field>
