<div class="evaluations-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Mis Evaluaciones TMERT</mat-card-title>
      <button mat-raised-button color="primary" (click)="createNewEvaluation()">
        <mat-icon>add</mat-icon>
        Nueva Evaluación
      </button>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group animationDuration="300ms">
        <!-- Tab: En Progreso -->
        <mat-tab label="En Progreso">
          <ng-template mat-tab-label>
            <mat-icon>pending_actions</mat-icon>
            En Progreso ({{ inProgressEvaluations().length }})
          </ng-template>

          <div class="tab-content">
            @if (loading()) {
              <app-table-skeleton [rows]="5" [columns]="4" />
            } @else {
              <app-data-table
                [columns]="columns"
                [data]="inProgressEvaluations()"
                [actions]="inProgressActions"
                [loading]="false"
                [emptyMessage]="'No tienes evaluaciones en progreso'"
                [striped]="true"
                [hoverable]="true"
                [showPagination]="true"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25]"
                [showIndex]="true"
                [indexHeader]="'#'"
              />
            }
          </div>
        </mat-tab>

        <!-- Tab: Borradores -->
        <mat-tab label="Borradores">
          <ng-template mat-tab-label>
            <mat-icon>draft</mat-icon>
            Borradores ({{ draftEvaluations().length }})
          </ng-template>

          <div class="tab-content">
            @if (loading()) {
              <app-table-skeleton [rows]="5" [columns]="4" />
            } @else {
              <app-data-table
                [columns]="columns"
                [data]="draftEvaluations()"
                [actions]="draftActions"
                [loading]="false"
                [emptyMessage]="'No tienes borradores guardados'"
                [striped]="true"
                [hoverable]="true"
                [showPagination]="true"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25]"
                [showIndex]="true"
                [indexHeader]="'#'"
              />
            }
          </div>
        </mat-tab>

        <!-- Tab: Completadas -->
        <mat-tab label="Completadas">
          <ng-template mat-tab-label>
            <mat-icon>check_circle</mat-icon>
            Completadas ({{ completedEvaluations().length }})
          </ng-template>

          <div class="tab-content">
            @if (loading()) {
              <app-table-skeleton [rows]="5" [columns]="4" />
            } @else {
              <app-data-table
                [columns]="columns"
                [data]="completedEvaluations()"
                [actions]="completedActions"
                [loading]="false"
                [emptyMessage]="'No tienes evaluaciones completadas'"
                [striped]="true"
                [hoverable]="true"
                [showPagination]="true"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25]"
                [showIndex]="true"
                [indexHeader]="'#'"
              />
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
