@use "../../../../../assets/scss/form-controls" as form;

:host {
  @include form.input-textarea-styles;

  .info-icon {
    color: form.$primary-color;
    cursor: pointer;

    &:hover {
      color: form.$primary-dark;
    }
  }
}
